@import './fonts.css';
@import './tailwind.css';
@import './theme.css';



.refelectionTrim {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}